extends template/_main.pug

block varlist
  - const PageTitle = 'cookiepass';


block article
  body(data-cookiepass_lang="ja")

    div(style='background:white;')
      h1 動作サンプルページ

      button(type='button' style='z-index: 990000; position: relative;')#cookiedel CookieDelete to Reload

      p このボタンを押すと、Cookieが削除され、ページをリロードする。